@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Poppins:wght@300;400;500;600;700&display=swap');

/* --- Base styles --- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--font-main);
}

body {
    padding-top: 5rem;
}

:root {
    --font-logo: 'Heebo', sans-serif;
    --font-main: 'Poppins', sans-serif;
    --color-blue: #2D9CDB;
}

a {
    text-decoration: none;
    color: var(--color-blue);
}

button {
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}

h2,
h3 {
    font-weight: 500;
    font-family: var(--font-main);
}

li {
    list-style: none
}

/*--- Header of the page ---*/

#header-edie {
    font-family: var(--font-main);
}
#header-edie__navbar {
    padding: .7rem calc(.4rem + 2vw);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
    top: 0;
    background: #ffffff;
    border-bottom: 1px solid #eeeeee;
}
.navbar-logo {
    font: normal 800 1.2rem var(--font-logo);
}
.navbar-menu-toggle,
.navbar-menu-toggle.open {
    padding: 2rem;
    display: none;
    text-align: end;
    position: absolute;
    right: -100%;
    bottom: -260px;
    z-index: -1;
    background: #ffffff;
    list-style: none;
    border: 1px solid #eeeeee;
    border-top: none;
    border-radius: 0 0 0 1rem;
    animation: translateTwo .5s forwards;
}
.navbar-menu-toggle li {
    padding-top: .9rem;
}
.navbar-menu-toggle li a {
    color: #000000;
}
.navbar-menu-toggle.open {
    display: block;
    animation: translateOne .5s forwards;
}

/* =========== Animation Menu ========== */

@keyframes translateOne {
    0% { 
        right: -100%; 
    }
    100% { 
        right: 0; 
    }
}
@keyframes translateTwo {
    0%  { 
        right: 0; 
    }
    100% { 
        right: -100%; 
    }
}

/* ===================================== */

#header-edie__hero {
    padding: 2rem calc(1.7rem + 3vw) 0 calc(1.7rem + 3vw);
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
}
#header-edie__hero img {
    margin: 1rem 0;
    max-width: 95vw;
    align-self: center;
    border-radius: 12px;
}
#header-edie__hero a {
    font-size: .7rem;
}
#header-edie__hero h2 {
    font-size: calc(1.6rem + .7vw);
}
#header-edie__hero h3 {
    font-size: calc(1.5rem + .7vw);
}
#header-edie__hero p {
    max-width: 290px;
    margin: 1rem 0;
    font-size: .9rem;
}
#header-edie__hero form {
    max-width: 300px;
    margin: .9rem 0;
}
#header-edie__hero label,
.footer-edie__content label {
    font-size: .6rem;
    color: #999999;
}
#header-edie__hero form .hero-input,
.footer-edie__content form .footer-input {
    width: 100%;
    padding: .2rem;
    background: #F2F2F2;
    border-radius: 12px;
}
#header-edie__hero form .hero-input input,
.footer-edie__content form .footer-input input {
    padding: .65rem 1rem;
    background: transparent;
}
#header-edie__hero form .hero-input input::placeholder,
.footer-edie__content form .footer-input input::placeholder {
    font-family: var(--font-main);
    color: #999999;
}
#header-edie__hero form .hero-input button,
.footer-edie__content form .footer-input button {
    padding: .5rem 1rem;
    border: none;
    border-radius: 10px;
    float: right;
    font-family: var(--font-main);
    background: var(--color-blue);
    color: #ffffff;
}

/* Section main - Content Edie */
#content-edie {
    font-family: var(--font-main);
    padding: .6rem;
}

/* Section - Services Edie */

#content-edie__services h3 {
    padding: 0 2.5rem;
    margin-bottom: 2rem;
    font-size: calc(1.5rem + 1vw);
}
.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: .5rem;
}
.services-item {
    max-width: 330px;
    margin: 1.4rem 0;
    padding: 2rem;
    border-radius: 15px;
    transition: box-shadow .2s;
}
.services-item:hover {
    box-shadow: 0 4px 15px 0 rgb(226, 226, 226);
}
.services-item span {
    margin-bottom: 1.9rem;
    padding: .8rem;
    font-size: 2rem;
    background: var(--color-blue);
    color: #ffffff;
    border-radius: 10px;
}
.services-item .item-2 {
    background: #27AE60;
}
.services-item .item-3 {
    background: #EB5757;
}
.services-item h4 {
    font-size: 1.4rem;
    margin-bottom: 1.3rem;
}
.services-item p {
    font-size: .95rem;
    margin-bottom: 1.3rem;
}
.services-item button {
    padding: .5rem 1rem;
    font: normal 400 .9rem var(--font-main);
    border: none;
    border-radius: 10px;
    background: #ddd;
    color: #777;
    transition: background .3s, color .3s;
}
.services-item button:hover {
    background: var(--color-blue);
    color: #ffffff;
}

/* Section - Works Edie */

#content-edie__works h3 {
    padding: 0 2.5rem;
    margin-bottom: 2rem;
    font-size: calc(1.4rem + 1vw);
}
.works {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.works-item {
    max-width: 100%;
}
.works-item__img {
    margin-bottom: .4rem;
}
.works-item img {
    max-width: 100%;
    border-radius: 18px;
}
.works-item p {
    font-size: .8rem;
}
.works-item h4 {
    font-weight: 600;
    font-size: 1.1rem;
}
#content-edie__works a {
    margin: 2rem 0;
    display: inline-flex;
    align-items: center;
    font-weight: 400;
}
#content-edie__works a span {
    margin-right: .5rem;
}

/* Section - Team Edie */

#content-edie__team {
    display: flex;
    flex-wrap: wrap;
}
.team-content {
    margin: 2rem 0 1.5rem 0;
    width: 80%;
}
.team-content span {
    color: #EB5757;
}
.team-content h3 {
    font: normal 500 2.1rem var(--font-main);
}
.team-content p {
    max-width: 95%;
    margin: 1.2rem 0;
    font-size: 1rem;
}

.team-images {
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.team-images img {
    max-width: 50%;
    border-radius: 15px;
}
.team-images__vertical {
    width: 50%;
}
.team-images__vertical img {
    max-width: 100%;
    border-radius: 15px;
}
.team-images__vertical img:first-child {
    max-width: 90%;
}

/* Section - Testimonial Edie */

#content-edie__testimonial {
    margin: 5rem 0;
}
#content-edie__testimonial p {
    margin-bottom: 2rem;
    font: normal 500 1.6rem var(--font-main);
}

.testimonial-author {
    max-width: 350px;
    display: flex;
    align-items: center;
}
.testimonial-author img {
    width: 23%;
    border-radius: 12px;
}
.testimonial-author__info {
    padding: 0 1.4rem;
}
.testimonial-author__info h4 {
    padding-bottom: .9rem;
    font: normal 500 1.3rem var(--font-main);
}

/* Section - Footer */

/* footer */

#footer-edie {
    padding: 2.5rem;
    padding-bottom: 1rem;
    background: #100E1D;
    color: #ffffff;
}
.footer-edie__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
}

.content__links {
    min-width: 100%;
}
.content__links ul li {
    padding-bottom: .4rem;
    list-style: none;
    color: #ffffff;
}
.content__links ul li a {
    color: #ffffff;
}

.content__media h2 {
    font-size: 2rem;
    font-weight: 600;
}
.content__media i {
    font-size: 1.5rem;
    margin-right: .4rem;
    cursor: pointer;
}


.footer {
    margin: 11rem 0 1rem 0;
    text-align: center;
    font: normal 400 0.8rem var(--font-main);
    color: #828282;
}
.username a {
    font-weight: 700;
    color: #828282;
}

/* ========== Breakpoints ========== */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #header-edie__hero img {
        margin: 1rem 0;
        max-width: 95vw;
        align-self: center;
        border-radius: 12px;
        height: 140px;
        object-fit: cover;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .works {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .works-item:nth-child(odd) {
        padding-top: 5rem;
    }
    .content__links {
        min-width: 160px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        padding-top: 7rem;
    }
    #header-edie__navbar {
        padding: calc(.8rem + 1vw) calc(1.2rem + 1vw);
    }
    .navbar-toggle {
        display: none;
    }
    .navbar-menu-toggle,
    .navbar-menu-toggle.open {
        display: flex !important;
        align-items: center;
        text-align: end;
        position: static;
        padding: .2rem;
        list-style: none;
        border: none;
        animation: none;
    }
    .navbar-menu-toggle li {
        padding: 0 1rem;
    }
    .navbar-menu-toggle li a {
        text-decoration: none;
        color: #000000;
    }
    .navbar-menu-toggle.open {
        display: block;
        animation: translateOne .5s forwards;
    }

    #content-edie__services,
    #content-edie__works,
    #content-edie__team,
    #content-edie__testimonial {
        padding: calc(.9rem + 1vw);
    }

    #content-edie__testimonial p {
        width: 80%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #content-edie__team {
        justify-content: center;
        align-items: center;
    }
    .team-content {
        width: 30%;
    }

    #header-edie__hero {
        padding: 0 calc(10rem + 3vw);
    }

    .services {
        justify-content: center;
    }

    #content-edie__works h3 {
        padding: 0;
    }

    #content-edie__team {
        justify-content: space-between;
    }

    #content-edie__works,
    #content-edie__team,
    #content-edie__testimonial {
        padding: 0 calc(8rem + 1vw);
    }

    #content-edie__testimonial p {
        font-size: 2rem;
        width: 75%;
    }    

    #footer-edie {
        padding: 3rem calc(8rem + 1vw);
    }

    .team-images {
        max-width: 60%;
    }

    .works {
        gap: 1rem;
    }

    #content-edie__services {
        padding: calc(4rem + 1vw);
    }

    .services {
        gap: 1.6rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}